<% const { url=`/images/${locals.type}-banner.png`, width=300, height=300
}=locals.image ?? {} %>

<div
  class="card <%= locals.variant %>"
  title="<%= locals.name %>"
  data-ripple
>
  <div class="card-banner">
    <figure class="img-holder">
      <img
        src="<%= url %>"
        width="<%= width %>"
        height="<%= height %>"
        alt="<%= locals.name %>"
        class="img-cover"
        data-image-load-anim
        loading="lazy"
      />
    </figure>
    <%- include('./play_btn', {variant: 'filled' , dataAttr: `data-uri="${locals.uri}"`}) %>
  </div>

  <div class="card-content">
    <h3 class="title-medium card-title ellipsis-one-line"><%= locals.name %></h3>

    <span class="body-medium card-text has-separator ellipsis-two-line">

      <% if (locals.year) { %>
      <span> <%= locals.year %> </span>
      <div class="separator"></div>
      <% } %> 
      
      <%- locals.text %>
    </span>

  </div>

  <a href="<%= locals.link %>" class="card-link" aria-label="<%= locals.name %>"></a>
  <div class="state-layer"></div>

</div>
