

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head', {title: 'Home | Musify'}) %>
  </head>

  <body>
    <article class="page custom-scrollbar" data-page>
      <!-- TOP APP BAR -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- BOTTOM NAV -->
      <%- include('../partials/bottom_nav', {currentRoute: '/'}) %>

      <div class="main">
        <!-- RECOMMENDED ALBUM -->
        <% if (locals.recommendedAlbums.length) { %>
        <section class="section">
          <div class="title-wrapper">
            <h2 class="title-large section-title">Recommend for you</h2>
          </div>
          <div class="slider">
            <div class="slider-inner">
              <% locals.recommendedAlbums.forEach(({artists, images, name, id, uri}) => { %>
                  <%                  
                    const text = artists.map(({name})=> name).join(',')
                    const image = images.find(item => item.width === 300)                    
                  %>

                  <%- include('../partials/card', {
                    image, type: 'album', name, text, link: `/album/${id}`, uri
                    }) 
                  %>

              <% }) %>
            </div>
          </div>
        </section>
        <% } %>

        <!-- RECOMMENDED ARTISTS -->
        <% const {artists : recommendedArtistItems} = locals.recommendedArtist %>

        <% if (recommendedArtistItems.length) { %>

          <section class="section">
            <div class="title-wrapper">
              <h2 class="title-large section-title">Artist for you</h2>
            </div>
            <div class="slider">
              <div class="slider-inner">
                <% recommendedArtistItems.forEach(({name, type, images, id, uri}) => { %>

                  <% const [image] = images || [] %>
                  <%- include('../partials/card', {
                    variant: 'artist-card',
                    name,
                    image,
                    text: type,
                    link: `/artist/${id}`
                  }) %>
              <% }); %>
              </div>
            </div>
          </section>
        <% } %>
      </div>
    </article>
  </body>
</html>
